/** Necessary theme styles for Dreamer UI library - Customize as desired! */

@theme dreamer-ui {
  --color-primary: var(--color-blue-600);
  --color-primary-foreground: var(--color-white);
  --color-secondary: var(--color-blue-100);
  --color-secondary-foreground: var(--color-blue-900);
  --color-muted: var(--color-gray-100);
  --color-muted-foreground: var(--color-gray-700);

  --color-accent: var(--color-blue-500);
  --color-accent-foreground: var(--color-white);

  --color-success: var(--color-green-500);
  --color-success-foreground: var(--color-white);
  --color-warning: var(--color-yellow-500);
  --color-warning-foreground: var(--color-black);
  --color-destructive: var(--color-red-500);
  --color-destructive-foreground: var(--color-white);

  --color-border: var(--color-gray-300); /* for input/textarea borders and dividers */
  --color-popover: var(--color-white); /* for popover backgrounds (popover, dropdowns, modals, etc) */
  --color-popover-foreground: var(--color-gray-900); /* for popover text */

  --color-tooltip: var(--color-gray-800);
  --color-tooltip-foreground: var(--color-white);
}

/* Dark theme overrides */
.dark {
  --color-muted: var(--color-slate-800);
  --color-muted-foreground: var(--color-slate-400);
  --color-border: var(--color-slate-700);
  --color-popover: var(--color-slate-800);
  --color-popover-foreground: var(--color-slate-100);
}