/** Necessary theme styles for Dreamer UI library - Customize as desired! */

@theme dreamer-ui {
  --color-primary: var(--color-blue-500);
  --color-primary-foreground: var(--color-white);
  --color-secondary: var(--color-sky-100);
  --color-secondary-foreground: var(--color-slate-900);
  --color-muted: var(--color-gray-100);
  --color-muted-foreground: var(--color-gray-700);

  --color-accent: var(--color-teal-500);
  --color-accent-foreground: var(--color-white);

  --color-success: var(--color-emerald-500);
  --color-success-foreground: var(--color-white);
  --color-warning: var(--color-amber-500);
  --color-warning-foreground: var(--color-white);
  --color-destructive: var(--color-rose-500);
  --color-destructive-foreground: var(--color-white);

  --color-border: var(--color-slate-300); /* for input/textarea borders and dividers */
  --color-popover: var(--color-white); /* for popover backgrounds (popover, dropdowns, modals, etc) */
  --color-popover-foreground: var(--color-slate-900); /* for popover text */

  --color-tooltip: var(--color-slate-800);
  --color-tooltip-foreground: var(--color-white);
}